@page "/"
@using Reader.Domain.Interfaces
@using MudBlazor
@using Reader.Domain.Enums
@using Reader.Domain.Models
@using Microsoft.JSInterop
@inject IReaderBookState ReaderBookState;
@inject IBookReaderService BookReaderService;
@inject ITranslateService TranslateService;
@inject IScrollInfoService ScrollInfoService
@inject IJSRuntime Js
@inject ISettings Settings

@* TODO if its first chapter then show section name *@
<MudText Typo="Typo.h2">@_sectionName</MudText>
<MudText Typo="Typo.h3">@_chapterName</MudText>

    @if (ReaderBookState.BookSectionContent.Value != null)
    {
        @foreach (var ff in ReaderBookState.BookSectionContent.Value!)
        {
            if (string.IsNullOrWhiteSpace(ff.Sentence))
            {
                continue;
            }

            <div Class="d-flex justify-space-between flex-grow-1 gap-4">
                <MudStack>
                    <div class="my-1">
                        <MudText Typo="Typo.body1">@ff.Sentence</MudText>

                        @if (!string.IsNullOrWhiteSpace(ff.TranslatedSentence))
                        {
                            <MudText Typo="Typo.body1" Color="Color.Error">@ff.TranslatedSentence</MudText>
                        }
                    </div>
                </MudStack>
                <MudIconButton Icon="@(ff.IsTranslating ? Icons.Material.Filled.AccessTimeFilled : Icons.Material.Filled.Translate)"
                               Class=@("py-2 my-2 " + (ff.IsTranslating ? "rotation" : ""))
                               Variant="Variant.Outlined"
                               Size="Size.Small"
                               OnClick="async () => await TranslateBookSentence(ff)"/>
            </div>
            <MudDivider/>
        }
    }

@code {
    string _sectionName= "";
    string _chapterName= "";
    private bool _isAppBarActive;

    private bool IsAppBarActive
    {
        get => _isAppBarActive;
        set { 
            _isAppBarActive = value;
            StateHasChanged();
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        // Load preferences
        var bookSettings = await Settings.GetSettings();

        // If book selected then load it
        if (!string.IsNullOrWhiteSpace(bookSettings.BookPath))
        {
            await BookReaderService.LoadBookAsync(bookSettings.BookPath);

            _sectionName = ReaderBookState.BookSectionName.Value!;
            _chapterName = ReaderBookState.BookChapterName.Value!;
        }
        // Else load default
        else
        {
            await BookReaderService.LoadBookAsync("thebladeitself.fb2");
        }

        _sectionName = ReaderBookState.BookSectionName.Value!;
        _chapterName = ReaderBookState.BookChapterName.Value!;

        ReaderBookState.IsAppBarActive.OnChange += () =>
        {
            InvokeAsync(StateHasChanged);
        };
        
        ReaderBookState.BookSectionName.OnChange += () =>
        {
            InvokeAsync(() =>
            {
                _sectionName = ReaderBookState.BookSectionName.Value!;
                StateHasChanged();
            });
        };
        
        ReaderBookState.BookChapterName.OnChange += () =>
        {
            InvokeAsync(() =>
            {
                _chapterName = ReaderBookState.BookChapterName.Value!;
                StateHasChanged();
            });
        };

        ScrollInfoService.OnScrollEnd += OnScrollEnd!;
        ScrollInfoService.OnScroll += OnScroll!;
        
        StateHasChanged();
        
        await Js.InvokeVoidAsync("scrollContentTo", bookSettings.LastBookSectionProgress);
    }

    private void OnScrollEnd(object sender, float percent)
    {
        var bookSettings = Settings.GetSettings().ConfigureAwait(false).GetAwaiter().GetResult();
        bookSettings.LastBookSectionProgress = percent;
        Settings.UpdateSettings(bookSettings);
    }

    private void OnScroll(object sender, bool isScrollDirectionUp)
    {
        if (!isScrollDirectionUp && ReaderBookState.IsAppBarActive.Value)
        {
            ReaderBookState.IsAppBarActive.Value = false;
        }
        else if (isScrollDirectionUp && !ReaderBookState.IsAppBarActive.Value)
        {
            ReaderBookState.IsAppBarActive.Value = true;
        }
    }
    
    private async Task TranslateBookSentence(BookSentence bookSentence)
    {
        bookSentence.IsTranslating = true;
        bookSentence.TranslatedSentence = await TranslateService.Translate(bookSentence.Sentence, Language.Ukrainian);
        bookSentence.IsTranslating = false;
    }
    
    public void Dispose()
    {
        ScrollInfoService.OnScrollEnd -= OnScrollEnd!;
        ScrollInfoService.OnScroll -= OnScroll!;
    }
}
